.mainContainer{
    position: relative;
    overflow-x: hidden;
}
.cardContainer{
    display: flex;
    transition: transform 1s;
}
.card{
    cursor: pointer;
    height: 200px;
    width: 150px;
    margin: 10px;
}
.cardImage{
    width: 100%;
    height: 100%;
}
.sliderButtonsLeft{
    background-color: black;
    color: white;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 1;
}
.sliderButtonsRight{
    background-color: black;
    color: white;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 1;
}
