.card {
  height: 450px;
  width: 350px;
  border-radius: 10px;
  border: 0.3px solid white;
}
.contentContainer {
  /* width: 100%; */
  height: 700px;
  object-fit: fill;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: flex-start;
  align-items: center;
  padding-left: 50px;
  row-gap: 30px;
  column-gap: 30px;
  flex-wrap: wrap;

}
.title {
  font-size: 35px;
}
.trailerBtn {
  border-radius: 10px;
  padding: 10px;
  background-color: red;
  color: white;
  cursor: pointer;
  font-size: 18px;
}
.relatedVideosSection {
  /* justify-content: center; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.relatedVideosSection iframe {
  height: 250px;
  width: 300px;
  margin: 0 20px;
}
.creditsSection {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: flex-start;
  align-items: flex-start;
  /* flex-wrap: wrap; */
  /* overflow-x: scroll ; */
}
.person {
  height: 150px;
  width: 100px;
  margin: 0 10px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  /* flex-wrap: wrap; */
  border-radius: 10px;
}
.personImg{
  /* width: 100%; */
  height: 80%;
  border-radius: 10px;
}
.personName{
  margin-top: 0;
}
.sectionHeading{
  padding: 30px 0 10px 20px;
}
@media screen and (max-width: 700px) {
  .title {
    font-size: 20px;
  }
  .contentContainer {
    text-align: center;
    padding-left: unset;
    /* display: unset; */
    justify-content: center;
  }
  .card {
    height: 350px;
    width: 250px;
    margin-top: 50px;
  }
  .contentData {
    text-align: center;
  }
  .posterImg {
    margin-top: 30px;
  }
  .creditsSection{
    max-width: 100vw;
    /* overflow-x: auto; */
    overflow-x: scroll ;
    overflow-y: hidden;
  }
  .relatedVideosSection {
    justify-content: center;
  }
  .personImg{
    height: 70%;
  }
}
