.navContainer {
  background-color: black;
  color: white;
  padding: 20px;
}
.heading {
  font-size: 30px;
  color: red;
  font-weight: bold;
  /* margin-left: 30px; */
  cursor: pointer;
}
.navLinkContainer {
  text-align: right;
  /* position: relative; */
}
.navLinks {
  text-decoration: none;
  margin-right: 30px;
  color: white;
}
.navLinks:hover {
  color: red;
  border-bottom: 5px solid blue;
  /* transition-delay: 0.5s; */
  /* border-color: blue; */
}
.dropdownContainer {
  position: relative;
  margin-right: 20px;
}
.searchDropdown {
  position: absolute;
  /* top: 20px; */
  right: 0;
  z-index: 5;

  width: 100%;
}
.searchResult {
  /* height: 60px; */
  cursor: pointer;
  border: 1px solid white;
  background-color: black;
  display: flex;
  border-radius: 5px;
}
input {
  /* width: 300px; */
  border: none;
  border-bottom: 1px solid white;
  background: none;
  outline: none;
  color: white;
  font-size: 20px;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}
.dropDownImg {
  width: 150px;
  height: 100px;
}

.expandInput{
 width: 300px;
 transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}
@media screen and (max-width: 700px) {
  .heading {
    font-size: 20px;
  }
  .navLinks {
    margin-right: 10px;
  }
  .navLinkContainer {
    margin-top: 10px;
    text-align: center;
  }
  input {
    width: 200px;
  }
  .dropdownContainer {
    display: block;
    margin: 20px 0 20px 0;
  }
  a {
    margin-top: 20px;
  }
  .dropDownImg {
    width: 100px;
    height: 75px;
  }
}
