.container {
  display: flex;
  row-gap: 15px;
  column-gap: 30px;
  flex-wrap: wrap;
  background-color: black;
  justify-content: center;
}
.heading {
  font-size: 30px;
  padding-left: 20px;
}

@media screen and (max-width: 700px) {
  .heading {
    font-size: 17px;
  }
}
