.container {
  
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  /* row-gap: 15px;
  column-gap: 30px; */
}
.heading{
  font-size: 30px;
  padding-left: 20px;
}
.card {
  height: 350px;
  width: 200px;
  border: 0.5px solid black;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 20px;
}

.cardImage {
  height: 100%;
}

@media screen and (max-width: 700px) {
  .card {
    height: 125px;
    width: 100px;
    margin: 0 5px;
  }
  .heading{
    font-size: 17px;
  }
}
